* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container1 {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    .menu1 {
        display: none;
    
        &.dis_none {
            display: flex;
        }
    }
    
    .menu2 {
        display: none;
    
        &.dis_none {
            display: flex;
        }
    }

    .slider {

        .slides {

            .slide {
                transition: 2s;
            }

            #radio1:checked ~ .first {
                margin-left: 0;
            }
            #radio2:checked ~ .first {
                margin-left: -20%;
            }
            #radio3:checked ~ .first {
                margin-left: -40%;
            }

            #radio1:checked ~ .navigation-auto .auto-btn1{
                background: #40D3DC;
            }
            #radio2:checked ~ .navigation-auto .auto-btn2{
                background: #40D3DC;
            }
            #radio3:checked ~ .navigation-auto .auto-btn3{
                background: #40D3DC;
            }

            .navigation-auto {
                position: absolute;
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: 560px;

                div {
                    border: 2px solid #40D3DC;
                    padding: 5px;
                    border-radius: 10px;
                    transition: 1s;

                    &:not(:last-child) {
                        margin-right: 40px;
                    }
                }
            }


        }

        .navigation-manual {
            position: absolute;
            width: 100%;
            margin-top: -40px;
            display: flex;
            justify-content: center;


            .manual-btn {
                border: 2px solid #40D3DC;
                padding: 5px;
                border-radius: 10px;
                cursor: pointer;
                transition: 1s;

                &:not(:last-child){
                    margin-right: 40px;
                }

                &:hover {
                    background: #40D3DC;
                }
            }
        }
    }

}
